div.flashes {
    position: absolute;
    top: 0px;
    right: 0;
    display: block;
    text-align:center;
    margin: 30px 10px 0px 21px;
}

div.flashes div {
    font-family: 'corporateacyrdemi', "Times New Roman", Times, sans-serif;
    font-size: 14px;
    padding: 10px 10px;
    border-radius: 3px;
    margin-top: 10px;
    max-width: 160px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.6);
}

div.flashes div.flash-success {
    color: #FFF;
    background-color: #231F20;
}

div.flashes div.flash-error {
    color: #FFF;
    background-color: #ED1B23;
}