/* Common */
* {
    margin: 0;
    padding: 0;
}

body {
    background: #F2F2F2;
    font-family: 'corporateacyrregular', "Times New Roman", Times, sans-serif;
    height: 100%;
}

input, textarea {
    font-family: 'corporateacyrregular', "Times New Roman", Times, sans-serif;
}


a {
    text-decoration: none;
    color: #B0B0B0;
}

a:hover {
    color: #ED1B23;
}

button {
    background: transparent;
    border: 0 none;
    cursor: pointer;
}

/* Layout */
div#wrapper {
    margin: 0 auto;
    width: 100%;
    position: absolute;
    top: 0;
}

div#container {
    width: 100%;
}

div#sidebar {
    font-family: 'corporateacyrdemi_italic', Times New Roman, sans-serif;
    border-left: 1px solid #B1B1B1;
    border-right: 1px solid #B1B1B1;
    position: fixed;
    background: #E6E6E6;
    height: 100%;
    text-align: center;
    padding-top: 10px;
    width: 100px;
}

div#content {
    padding-bottom: 30px;
}

div#age {
    position: absolute;
    top: 7px;
    right: 8px;
    width: 21px;
    height: 10px;
}

div#companion {
    position: fixed;
    right: 4px;
    bottom: 0;
    background: url(../images/companion.png) no-repeat;
    width: 45px;
    height: 51px;
    cursor: pointer;
}

div#balloon {
    position: fixed;
    right: 45px;
    bottom: 30px;
    background: url(../images/balloon.png) no-repeat;
    color: #FFF;
    font-size: 12px;
    width: 71px;
    height: 54px;
}

div#balloon_text {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 71px;
    height: 40px;
}


div#create {
    margin-top: 40px;
}

div#contest {
    margin-top: 60px;
}

div#hall_of_fame {
    margin-top: 60px;
}

/* Navigation */
div#nav {
    margin-top: 75px;
}

div.menu ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

div.menu ul li {
    padding-bottom: 15px;
}

div#create ul li {
    padding-bottom: 0px;
}

div.menu ul li a {
    color: #282828;
    text-decoration: none;
    text-shadow: 1px 1px 1px #FFF;
}

.menu i.left {
    float: left;
    margin-left: 20px;
}

.menu i.right {
    float: right;
    margin-right: 20px;
}

div.menu ul li i {
    display: none;
}

div#create ul li i {
    margin-top: 4px;
    display: inline-block;
}

div.menu ul li.active i {
    margin-top: 7px;
    display: inline-block;
}

div.menu ul li.active a, div.menu ul li a:hover {
    color: #EC444B;
}

/* Shades */
div#shades .shade {
    display: inline-block;
    background: url(../images/shade.png) no-repeat;
    width: 48px;
    height: 87px;
    float: left;
    margin-right: 15px;
}

div#shades > .active {
    position: relative;
    top: -30px;
}

.shade .inner {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 48px;
    height: 87px;
    padding: 0;
}

.shade > .active {
    padding-top: 15px;
}

.shade .inner a {
    display: inline-block;
    width: 48px;
}

/* Share buttons and action links */
.social {
    float: right;
    margin-top: 35px;
    margin-left: 20px;
    width: 30px;
}

.social a, .social span {
    display: block;
    width: 16px;
    text-align: center;
    margin-bottom: 15px;
}

.social a:first-child {
    margin-bottom: 30px;
}

/* Items */
.items {
    margin-top: 10px;
}

.item_container.active {
    background: url(../images/expanded_top.png) repeat-x top center;
    border-top: 1px solid #E2E2E2;
}

.item_container.active .item_container_bottom {
    background: url(../images/expanded_bottom.png) repeat-x bottom center;
    border-bottom: 1px solid #E2E2E2;
}

.item .container > div {
    display: inline-block;
}

/* Item: number link */
.item .number {
    font-family: 'corporateacyrdemi', "Times New Roman", Times, sans-serif;
    margin-left: 55px;
    padding-bottom: 20px;
}

.item .number a {
    color: #B0B0B0;
    font-size: 12px;
}

.item .number a:hover {
    color: #EC1F23;
}

/* Item: comments icon */
.item .comments {
    text-align: center;
    vertical-align: top;
    width: 50px;
}

.item .comments a {
    color: #B9B9B9;
}

.item .comments span {
    display: inline-block;
    padding-bottom: 5px;
    width: 20px;
    text-align: center;
}

.item .comments span.active {
    color: #EC1F23;
}

.item .comments a:hover {
    color: #EC1F23;
}

/* Comments */
.comments_list {
    margin-top: 25px;
}

.comments_list .comment {
    border-top: 1px solid #E5E5E5;
    clear: both;
    font-size: 14px;
    font-family: 'corporateacyrdemi_italic', Times New Roman, sans-serif;
    padding: 25px 0;
}

.comment.real {
    cursor: pointer;
}

.comment:hover {
    color: #ED1B23;
}

.comment.level {
    padding-left: 80px;
    cursor: pointer;
}

.comment.admin .text {
    color: #EC1F23;
}

.comment div.avatar {
    display: inline-block;
    width: 45px;
    margin-right: 10px;
    text-align: center;
}

.comment .avatar i {
    padding-bottom: 10px;
}

.comment .text {
    display: inline-block;
    vertical-align: top;
}

/* Comments: form */
.commentsForm {
    border-top: 1px solid #E5E5E5;
    padding: 25px 0;
}

.commentsForm textarea {
    background: #E5E5E5;
    border: 0 none;
    font-size: 20px;
}

.commentsForm .comment > div {
    float: none;
    display: inline-block;
}

.commentsForm .captcha {
    text-align: center;
}

.captcha > div {
    display: inline-block;
}

.commentsForm .captcha img {
    cursor: pointer;
}

.commentsForm .captcha input {
    border: 1px solid #B0B0B0;
    background: transparent;
    color: #272727;
    height: 110px;
    font-size: 80px;
    width: 250px;
}

.commentsForm .captcha div.submit {
    vertical-align: top;
}


.commentsForm .containerForm > div {
    display: inline-block;
}

.commentsForm .textarea, .commentsForm .button {
    margin-top: 10px;
}

.commentsForm .textarea img {
    float: left;
}

.commentsForm textarea {
    height: 110px;
    background: #E1E1E1;
    border: 1px solid #B1B1B1;
    border-left: 0 none;
}

.commentsForm .containerForm .form {
    height: 110px;
    line-height: 110px;
}

.commentsForm .avatar {
    margin: 0px 5px;
    text-align: center;
    vertical-align: top;
}

.commentsForm .avatar a {
    display: block;
    margin: 10px 0px;
}

.commentsForm .form .button, .commentsForm .form .textarea {
    display: inline-block;
}

.commentsForm .button {
    margin-left: 10px;
    vertical-align: top;
}

.commentsForm .captcha {
    display: none;
}

.commentsFormNested {
    display: none;
    padding-left: 80px;
}

.commentsFormNested textarea {
    float: left;
}

/* Create form */
div#createForm {
    text-align: center;
    margin-top: 50px;
}

div#createForm div.errors {
    margin-top: 20px;
    color: #B0B0B0;
}

div#createForm div.errors ul {
    list-style: none;
    color: #ED1B23;
}

div#createForm select#category {
    font-size: 24px;
    color: #B0B0B0;
    padding-left: 30px;
}

div#createForm div.selectText {
    padding: 5px 0px;
    font-size: 24px;
    color: #B0B0B0;
}

div#createForm div.text {
    margin: 60px 0px;
}

div#createForm #text_image {
    display: none;
}

div#createForm textarea {
    border: 0px none;
    width: 480px;
    background: url(../images/textarea.png) repeat-y;
    color: #272727;
    display: inline-block;
    overflow: hidden;
    line-height: 26px;
}

div#createForm div.textareaScrollbar {
    display: inline-block;
    vertical-align: top;
}

div#createForm div.textareaScrollbar a {
    display: inline-block;
}


div#createForm div.label {
    display: inline-block;
    color: #B0B0B0;
}

div#createForm input#email {
    border: 0px none;
    background: transparent;
    color: #272727;
    width: 450px;
}

div#createForm div.buttons div {
    display: inline-block;
    vertical-align: top;
}

div#createForm div.buttons div.agreement {
    text-align: left;
    color: #B0B0B0;
}

/* Item sizes */
div#createForm textarea {
    height: 468px;
    font-size: 22px;
}

div#createForm div.textareaScrollbar {
    margin-left: 40px;
    height: 468px;
}

div#createForm div.textareaScrollbar a {
    padding-top: 160px;
}

div#createForm div.email {
    margin-bottom: 35px;
}

/* Helpers */
span.hint {
    color: #B0B0B0;
}

a.hint {
    color: #B0B0B0;
    text-decoration: underline;
}

a.hint:hover {
    color: #ED1B23;
}

div.clear {
    clear: both;
}

div.loader {
    width: 16px;
    height: 16px;
    background: url(../images/loader.gif) no-repeat;
}