body {
    background: #F2F2F2;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

/* Layout */
div#wrapper {
    font-family: "Times New Roman", sans-serif;
    margin: 0 auto;
    width: 1024px;
}

div#sidebar {
    background: #E6E6E6;
    border-right: 1px solid #B1B1B1;
    padding: 30px;
    float: left;
    width: 100px;
    min-height: 700px;
}

div#content {
    float: left;
    font-size: 16px;
    width: 400px;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 30px;
}

div#age {
    position: absolute;
    top: 7px;
    right: 8px;
    width: 21px;
    height: 10px;
}

div#companion {
    position: fixed;
    right: 4px;
    bottom: 0;
    background: url(../images/companion.png) no-repeat;
    width: 45px;
    height: 51px;
    cursor: pointer;
}

div#balloon {
    position: fixed;
    right: 45px;
    bottom: 30px;
    background: url(../images/balloon.png) no-repeat;
    color: #FFF;
    font-size: 10px;
    font-weight: bold;
    width: 71px;
    height: 54px;
}

div#balloon_text {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 71px;
    height: 40px;
}


div#create {
    margin-top: 40px;
}

div#create ul li a {
    font-size: 12px;
}

div#contest {
    margin-top: 60px;
}

div#hall_of_fame {
    margin-top: 60px;
}

/* Navigation */
div#nav {
    margin-top: 75px;
}

div.menu ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

div.menu ul li {
    padding-bottom: 15px;
}

div.menu ul li a {
    color: #282828;
    font-size: 14px;
    text-decoration: none;
    text-shadow: 1px 1px 1px #FFF;
}

div.menu ul li.active a {
    color: #EC444B;
}

/* Items */
div.item {
    font-size: 16px;
    color: #272727;
    margin-top: 40px;
    width: 575px;
}

div.social a {
    display: block;
    width: 16px;
    text-align: center;
    margin-bottom: 15px;
}

div.social a:first-child {
    margin-bottom: 30px;
}

div.item .number {
    margin-left: 55px;
    padding-bottom: 10px;
}

div.item .number a {
    color: #B0B0B0;
    font-size: 12px;
}

div.item .number a:hover {
    color: #EC1F23;
}

div.item .comments {
    float: left;
    width: 30px;
    margin-right: 25px;
}

div.item .comments a {
    color: #B9B9B9;
}

div.item .comments span {
    font-size: 12px;
    display: inline-block;
    padding-bottom: 5px;
    width: 20px;
    text-align: center;
}

div.item .comments span.active {
    color: #EC1F23;
}

div.item .comments a:hover {
    color: #EC1F23;
}

div.item .quote {
    float: left;
    width: 500px;
}

/* Comments */
div.comments_list {
    margin-top: 25px;
}

div.comments_list .comment {
    border-top: 1px solid #E5E5E5;
    width: 555px;
    clear: both;
    font-size: 14px;
    font-style: italic;
}

.comment.real {
    cursor: pointer;
}

.comment.level {
    padding-left: 80px;
}

.comment.admin .text {
    color: #EC1F23;
}

.comment div {
    padding: 25px 0px;
}

.comment .avatar {
    float: left;
    width: 30px;
    margin-right: 25px;
    text-align: center;
    vertical-align: top;
}

.comment .avatar i {
    padding-bottom: 10px;
}

.comment .text {
    float: left;
    width: 500px;
}

/* Active */
/*
div.item > div.container.active {
    background: #F2F2F2 url(../images/item_active_top.png) repeat-x center top;
}

div.item.active {
    background: url(../images/bottom.png) repeat-x center bottom;
}
*/

/* Shades */
div#shades {

}

div#shades .shade {
    display: inline-block;
    background: url(../images/shade.png) no-repeat;
    width: 48px;
    height: 87px;
    float: left;
    margin-right: 15px;
}

div#shades > .active {
    position: relative;
    top: -30px;
}

.shade .inner {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 48px;
    height: 87px;
    padding: 0;
}

.shade > .active {
    padding-top: 15px;
}

.shade .inner a {
    display: inline-block;
    width: 48px;
}

/* Forms */
div#createForm {
    text-align: center;
    margin-top: 50px;
}

div#createForm div.errors {
    text-align: left;
    color: #B0B0B0;
    font-size: 14px;
}

div#createForm select#category {
    background: transparent;
    border: 0px none;
    font-size: 24px;
    color: #B0B0B0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-left: 30px;
}

div#createForm div.text {
    margin: 60px 0px;
}

div#createForm textarea {
    border: 0px none;
    background: transparent;
    width: 485px;
    height: 244px;
    font-size: 16px;
    color: #272727;
    overflow: hidden;
}

div#createForm input#email {
    width: 330px;
    border: 0px none;
    background: transparent;
    font-size: 16px;
    color: #272727;
}

div#createForm div.buttons {
    margin-left: 88px;
}

div#createForm div.buttons div {
    float: left;
}

div#createForm div.buttons div.agreement {
    text-align: left;
}

div#createForm div.email {
    text-align: left;
    margin-bottom: 75px;
}

div.commentsForm textarea {
    background: #E5E5E5;
    border: 0px none;
    width: 450px;
    height: 80px;
    float: left;
}

div.commentsForm span {
    float: left;
    height: 80px;
    line-height: 80px;
}

#commentsFormSecond {
    display: none;
    padding-left: 80px;
}

#commentsFormSecond textarea {
    float: left;
    width: 370px;
}

button.checkbox {
    background: transparent;
    border: 0px none;
    cursor: pointer;
}


/* Flashes */
div#flashes {
    display: none;
}

div.flash-success {

}

/* Helpers */
span.hint {
    color: #B0B0B0;
    font-size: 14px;
}

a.hint {
    color: #B0B0B0;
    text-decoration: underline;
}

div.clear {
    clear: both;
}

div.loader {
    width: 16px;
    height: 16px;
    background: url(../images/loader.gif) no-repeat;
}