/* Metrika */
.metrika {
    display: none;
}

.ias_trigger {
    float: left;
}

.ias_loader {
    display: block;
    text-align: center;
}

/* CPager */
.list-view .pager {
    margin-top: 20px;
    float: right;
    color: #B1B1B1;
    font-size: 12px;
}

ul.yiiPager {
    margin-left: 15px;
    font-size: 12px
}

ul.yiiPager li.last {
    display: inline-block;
}

ul.yiiPager .hidden {
    display: none;
}

ul.yiiPager a:link,
ul.yiiPager a:visited {
    border: 0px none;
    font-weight: bold;
    color: #EC1F23;
    padding: 1px 6px;
    text-decoration: none;
}

ul.yiiPager a:hover {
    border: 0px none;
    color: #EF6164;
}

ul.yiiPager .selected a {
    background: transparent;
    color: #EC1F23;
    font-size: 14px;
    font-weight: bold;
}

ul.yiiPager .hidden a {
    border: 0px none;
    color: #888888;
}

.list-view-loading {
    background-image: none;
}

/* CocoWidget */
.cocowidget {
    padding-top: 20px;
}

.qq-upload-button {
    margin: 0 auto;
    background: none;
    border: none;
}

.qq-upload-button img {
    cursor: pointer;
}

.qq-upload-list {
    list-style-type: none;
    color: #EC1F23;
}

.qq-upload-list li {
    font-size: 16px;
    text-decoration: underline;
    display: inline;
}

.qq-upload-size {
    display: none;
}