/* 320px */
@media screen and (max-width: 640px) {
    div#sidebar {
        position: static;
        width: 320px;
    }

    img.logo {
        width: 140px;
        height: 227px;
    }

    div#logo {
        float: left;
    }

    div#sidebar_inner {
        float: left;
    }

    div#container {
        clear: left;
        width: 320px;
    }

    div#content {
        padding-left: 20px;
        padding-right: 10px;
        width: 290px;
    }

    div#createForm textarea {
        height: 240px;
        width: 240px;
        font-size: 16px;
    }

    div#createForm div.textareaScrollbar {
        margin-left: 10px;
        height: 240px;
    }

    div#createForm input#email {
        width: 240px;
    }

    div#createForm div.textareaScrollbar a {
        padding-top: 60px;
    }

    /* Font sizes */
    div#nav, div#hall_of_fame {
        font-size: 12px;
    }

    div#create {
        font-size: 12px;
    }

    div.item div.comments {
        font-size: 12px;
    }

    div.item div.quote {
        font-size: 16px;
    }

    div.item .number a {
        font-size: 12px;
    }

    div.email label, div.email input, div.buttons div.agreement, div.errors {
        font-size: 16px;
    }

    span.small {
        font-size: 10px;
    }

    .pad {
        padding-left: 0px;
    }

}

/* 640px */
@media screen and (min-width: 641px) and (max-width: 1280px) {
    /* Layout */
    div#sidebar {
        left: 0;
        width: 160px;
    }

    img.logo {
        width: 140px;
        height: 227px;
    }

    div#content {
        margin-left: 150px;
    }

    div#shades {
        margin-left: 100px;
    }

    div.item {
        padding: 45px 100px;
        max-width: 650px;
    }

    .item .quote, .commentsForm textarea, .comment .text {
        max-width: 540px;
    }

    .commentsForm .captcha {
        max-width: 520px;
    }

    div#createForm textarea {
        height: 320px;
        width: 320px;
        font-size: 18px;
    }

    div#createForm div.textareaScrollbar {
        margin-left: 20px;
        height: 320px;
    }

    div#createForm div.textareaScrollbar a {
        padding-top: 100px;
    }

    div#createForm input#email {
        width: 320px;
    }

    /* Font sizes */
    div#nav, div#hall_of_fame {
        font-size: 12px;
    }

    div#create {
        font-size: 12px;
    }

    div.item div.comments {
        font-size: 12px;
    }

    div.item div.quote {
        font-size: 16px;
    }

    div.item .number a {
        font-size: 12px;
    }

    div.comments_list .comment {
        font-size: 14px;
    }

    div.email label, div.email input, div.buttons div.agreement, div.errors {
        font-size: 18px;
    }

    span.small {
        font-size: 12px;
    }

    .pad {
        padding-left: 75px;
    }
}

/* 1280px */
@media screen and (min-width: 1281px) and (max-width: 1440px) {
    /* Layout */
    div#sidebar {
        left: 0;
        width: 200px;
    }

    img.logo {
        width: 180px;
        height: 292px;
    }

    div#content {
        margin-left: 200px;
    }

    div#shades {
        margin-left: 150px;
    }

    div.item {
        padding: 45px 100px;
        width: 750px;
    }

    .item .quote, .commentsForm textarea, .comment .text {
        width: 640px;
    }

    .commentsForm .captcha {
        width: 620px;
    }

    /* Font sizes */
    div#nav, div#hall_of_fame {
        font-size: 18px;
    }

    div#create {
        font-size: 15px;
    }

    div.item div.comments {
        font-size: 15px;
    }

    div.item div.quote {
        font-size: 20px;
    }

    div.item .number a {
        font-size: 15px;
    }

    div.email label, div.email input, div.buttons div.agreement, div.errors {
        font-size: 20px;
    }

    span.small {
        font-size: 16px;
    }

    .pad {
        padding-left: 65px;
    }
}

/* 1440px */
@media screen and (min-width: 1441px) and (max-width: 1679px) {
    /* Layout */
    div#sidebar {
        left: 0;
        width: 225px;
    }

    div#content {
        margin-left: 200px;
    }

    div#shades {
        margin-left: 150px;
    }

    div.item {
        padding: 45px 150px;
        width: 750px;
    }

    .item .quote, .commentsForm textarea, .comment .text {
        width: 640px;
    }

    .commentsForm .captcha {
        width: 620px;
    }

    /* Font sizes */
    div#nav, div#hall_of_fame {
        font-size: 20px;
    }

    div#create {
        font-size: 17px;
    }

    div.item div.comments {
        font-size: 17px;
    }

    div.item div.quote {
        font-size: 22px;
    }

    div.item .number a {
        font-size: 17px;
    }

    div.comments_list .comment {
        font-size: 20px;
    }

    div.email label, div.email input, div.buttons div.agreement, div.errors {
        font-size: 20px;
    }

    span.small {
        font-size: 16px;
    }

    .pad {
        padding-left: 65px;
    }
}

/* >= 1680 */
@media screen and (min-width: 1680px) {
    /* Layout */
    div#sidebar {
        left: 150px;
        width: 225px;
    }

    div#content {
        margin-left: 375px;
    }

    div#shades {
        margin-left: 200px;
    }

    div.item {
        padding: 45px 200px;
        width: 850px;
    }

    .item .quote, .commentsForm textarea, .comment .text {
        width: 740px;
    }

    .commentsForm .captcha {
        width: 720px;
    }

    .commentsFormNested textarea {
        width: 660px;
    }

    /* Font sizes */
    div#nav, div#hall_of_fame {
        font-size: 20px;
    }

    div#create {
        font-size: 17px;
    }

    div.item div.comments {
        font-size: 17px;
    }

    div.item div.quote {
        font-size: 22px;
    }

    div.item .number a {
        font-size: 17px;
    }

    div.comments_list .comment {
        font-size: 20px;
    }

    div.email label, div.email input, div.buttons div.agreement, div.errors {
        font-size: 20px;
    }

    span.small {
        font-size: 16px;
    }

    .pad {
        padding-left: 65px;
    }
}