/* Height stuff */
@media screen and (max-height: 600px) {
    #nav, #hall_of_fame {
        display: none;
    }

    #nav_mobile {
        display: block;
    }
}

@media screen and (max-height: 900px) {
    #contest img {
        display: none;
    }

    #contest div.menu {
        display: block;
    }
}

/* Textarea fixes */
@media screen and (min-width: 160px) and (max-width: 321px) {
    .commentsForm textarea, .comment .text {
        width: 150px;
    }
}

@media screen and (min-width: 400px) and  (max-width: 640px) {
    .commentsForm textarea, .comment .text {
        width: 200px;
    }
}

@media screen and (min-width: 641px) and (max-width: 800px) {
    .commentsForm textarea, .comment .text {
        width: 150px;
    }
}

@media screen and (min-width: 801px) and (max-width: 1280px) {
    .commentsForm textarea, .comment .text {
        width: 300px;
    }
}

@media screen and (min-width: 1281px) and (max-width: 1440px) {
    .commentsForm textarea, .comment .text {
        width: 560px;
    }
}

/* 320px */
@media screen and (max-width: 640px) {
    #sidebar {
        position: relative;
        width: 100%;
        height: 160px;
        padding-top: 0;
        border-top: 1px solid #B1B1B1;
        border-bottom: 1px solid #B1B1B1;
        border-left: 0 none;
        border-right: 0 none;
        font-style: italic;
        z-index: 300;
    }

    .number .trash {
        display: none;
    }

    .comments_right .trash {
        display: inline-block;
    }


    div#createForm .email .helper div.label {
        display: none;
    }

    #logo {
        float: left;
        border-right: 1px solid #B1B1B1;
        height: 160px;
        padding: 0 0;
        width: 33.0%;
    }

    .comment .text {
        width: 75%;
    }

    img.logo {
        width: 75px;
        height: 122px;
        margin-top: 15px;
    }

    .shade {
        z-index: 200;
        top: 162px;
        left: 10px;
    }

    .shade.active {
        top: 77px;
        left: 10px;
    }

    #contest, #nav, #hall_of_fame, div.social, .age_top {
        display: none;
    }

    .social-small {
        display: block;
    }

    .age_inner {
        display: block;
    }

    div.item {
        padding: 0 5px;
        margin: 20px 0px;
    }

    div.item div.quote {
        display: block;
    }

    .commentsForm .captcha input {
        width: 75px;
    }

    .commentsFormNested {
        padding-left: 40px;
    }

    .comment div.avatar {
        margin: 0;
    }

    div.item div.comments {
        display: none;
    }

    div.item div.number {
        margin-left: 0;
        padding-bottom: 10px;
    }

    #contest_mobile {
        display: inline-block;
    }

    #nav_mobile {
        display: inline-block;
        font-size: 24px;
    }

    #sidebar_inner {
        display: table;
        width: 66.0%;
    }

    #container {
        clear: left;
        min-width: 275px;
    }

    #content {
        padding: 0;
        min-width: 285px;
    }

    #create {
        width: 100%;
        height: 35px;
        margin-top: 15px;
        border-bottom: 1px solid #B1B1B1;
    }

    div#create ul li i {
        margin-top: 0;
    }

    div.menu ul li.active i {
        margin-top: 4px;
    }

    div#createForm textarea {
        width: 240px;
    }

    div#createForm input {
        width: 280px;
    }


    /* Font sizes */
    div#nav, div#hall_of_fame, div#contest {
        font-size: 12px;
    }

    div#create {
        font-size: 12px;
    }

    div#create ul li a {
        height: 12px;
        line-height: 12px;
    }

    div.item div.comments {
        font-size: 12px;
    }

    div.item div.quote {
        font-size: 16px;
        line-height: 21.6px;
    }

    div.item .number a {
        font-size: 12px;
    }

    div.email label, div.email input, div.buttons div.agreement, div.errors {
        font-size: 16px;
    }

    span.small {
        font-size: 10px;
    }

    .pad {
        padding-left: 0px;
    }

    .loader, .list-view-loading .load {
        width: 48px;
        height: 41px;

        background-image: url(../images/loader_small.png);

        -webkit-animation: play-small .8s steps(7) infinite;
        -moz-animation: play-small .8s steps(7) infinite;
        -ms-animation: play-small .8s steps(7) infinite;
        -o-animation: play-small .8s steps(7) infinite;
        animation: play-small .8s steps(7) infinite;
    }

}

/* 640px */
@media screen and (min-width: 641px) and (max-width: 1024px) {
    div#createForm textarea {
        width: 360px;
    }
}

/* 640px */
@media screen and (min-width: 641px) and (max-width: 1280px) {
    /* Layout */
    div#sidebar {
        left: 0;
        width: 160px;
    }

    .number .trash {
        display: none;
    }

    .comments_right .trash {
        display: inline-block;
    }

    .commentsFormNested {
        padding-left: 40px;
    }

    .comment .text {
        width: 75%;
    }

    div.item div.comments, div.social {
        display: none;
    }

    .social-small {
        display: block;
    }

    div.item div.number {
        margin-left: 0;
    }

    div#content {
        margin-left: 150px;
    }

    div#shades, div#search {
        margin-left: 100px;
    }

    div.item {
        padding: 45px 100px;
        max-width: 650px;
    }

    div.item div.quote {
        display: block;
    }

    .item .quote, .comment .text {
        max-width: 540px;
    }

    .commentsForm .captcha {
        max-width: 520px;
    }

    div#create ul li i {
        margin-top: 2px;
    }

    div.menu ul li.active i {
        margin-top: 4px;
    }

    div#createForm input {
        width: 320px;
    }

    /* Font sizes */
    div#nav, div#hall_of_fame, div#contest {
        font-size: 12px;
    }

    div#create {
        font-size: 12px;
    }

    div#create ul li a {
        height: 12px;
        line-height: 12px;
    }

    div.item div.comments {
        font-size: 12px;
    }

    div.item div.quote {
        font-size: 16px;
        line-height: 21.6px;
    }

    div.item .number a {
        font-size: 12px;
    }

    div.comments_list .comment {
        font-size: 16px;
		line-height: 26px;
    }

    div.email label, div.email input, div.buttons div.agreement, div.errors {
        font-size: 18px;
    }

    span.small {
        font-size: 12px;
    }

    .pad {
        padding-left: 75px;
    }

    .loader, .list-view-loading .load {
        width: 48px;
        height: 41px;
        background-image: url(../images/loader_small.png);

        -webkit-animation: play-small .8s steps(7) infinite;
        -moz-animation: play-small .8s steps(7) infinite;
        -ms-animation: play-small .8s steps(7) infinite;
        -o-animation: play-small .8s steps(7) infinite;
        animation: play-small .8s steps(7) infinite;
    }
}

/* 1280px */
@media screen and (min-width: 1281px) and (max-width: 1440px) {
    .comments_right {
        display: none;
    }

    /* Layout */
    div#sidebar {
        left: 0;
        width: 200px;
    }

    div#content {
        margin-left: 200px;
    }

    div#shades, div#search {
        margin-left: 150px;
    }

    div.item {
        padding: 45px 100px;
        width: 750px;
    }

    .item .quote, .commentsForm textarea, .comment .text {
        width: 635px;
    }

    .commentsForm .captcha {
        width: 615px;
    }

    .commentsFormNested {
        padding-left: 40px;
    }

    .commentsFormNested textarea, .commentsFormNested .captcha {
        width: 555px;
    }

    /* Font sizes */
    div#nav, div#hall_of_fame, div#contest {
        font-size: 18px;
    }

    div#create {
        font-size: 15px;
    }

    div.item div.comments {
        font-size: 15px;
    }

    div.item div.quote {
        font-size: 20px;
        line-height: 27px;
    }

    div.item .number a {
        font-size: 15px;
    }

    div.email label, div.email input, div.buttons div.agreement, div.errors {
        font-size: 20px;
    }

    span.small {
        font-size: 16px;
    }

    .pad {
        padding-left: 65px;
    }
}

/* 1440px */
@media screen and (min-width: 1441px) and (max-width: 1679px) {
    .comments_right {
        display: none;
    }

    /* Layout */
    div#sidebar {
        left: 0;
        width: 225px;
    }

    div#content {
        margin-left: 200px;
    }

    div#shades, div#search {
        margin-left: 150px;
    }

    div.item {
        padding: 45px 150px;
        width: 750px;
    }

    .item .quote, .commentsForm textarea, .comment .text {
        width: 635px;
    }

    .commentsForm .captcha {
        width: 615px;
    }

    .commentsFormNested textarea, .commentsFormNested .captcha {
        width: 555px;
    }

    /* Font sizes */
    div#nav, div#hall_of_fame, div#contest {
        font-size: 20px;
    }

    div#create {
        font-size: 17px;
    }

    div.item div.comments {
        font-size: 17px;
    }

    div.item div.quote {
        font-size: 22px;
        line-height: 29.7px;
    }

    div.item .number a {
        font-size: 17px;
    }

    div.comments_list .comment {
        font-size: 16px;
		line-height: 26px;
    }

    div.email label, div.email input, div.buttons div.agreement, div.errors {
        font-size: 20px;
    }

    span.small {
        font-size: 16px;
    }

    .pad {
        padding-left: 65px;
    }
}

/* >= 1680 */
@media screen and (min-width: 1680px) {
    .comments_right {
        display: none;
    }

    /* Layout */
    div#sidebar {
        left: 150px;
        width: 225px;
    }

    div#content {
        margin-left: 375px;
    }

    div#shades, div#search {
        margin-left: 200px;
    }

    div.item {
        padding: 45px 200px;
        width: 850px;
    }

    .item .quote, .commentsForm textarea, .comment .text {
        width: 735px;
    }

    .commentsForm .captcha {
        width: 715px;
    }

    .commentsFormNested textarea, .commentsFormNested .captcha {
        width: 655px;
    }

    /* Font sizes */
    div#nav, div#hall_of_fame, div#contest {
        font-size: 20px;
    }

    div#create {
        font-size: 17px;
    }

    div.item div.comments {
        font-size: 17px;
    }

    div.item div.quote {
        font-size: 22px;
        line-height: 29.7px;
    }

    div.item .number a {
        font-size: 17px;
    }

    div.comments_list .comment {
        font-size: 16px;
		line-height: 26px;
    }

    div.email label, div.email input, div.buttons div.agreement, div.errors {
        font-size: 20px;
    }

    span.small {
        font-size: 16px;
    }

    .pad {
        padding-left: 65px;
    }
}

#preview {
    background: #F2F2F2;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 150;
    display: none;
}
@media screen and (min-width: 150px) and  (max-width: 400px) {
    #preview {
        padding-left: 0;
        padding-top: 300px;
    }
}
@media screen and (min-width: 401px)  {
#preview {
    z-index: 150;
    padding-left: 8%;
}
}
#preview a.close {
    display: block;
    position: fixed;
    right: 20px;
    top: 40%;
    width: 14px;
    height: 14px;
    background: url(../images/close.png);
    z-index: 300;
}
#preview a.close:hover {
    background: url(../images/close_hover.png);
}
#preview a.like {
    display: block;
    position: fixed;
    right: 19px;
    top: 44%;
    width: 16px;
    height: 16px;
    background: url(../images/like.png);
    z-index: 300;
}
#preview a.like:hover {
    background: url(../images/like_hover.png);
}
/**/
.image-block {
    position: relative;
}
.com-text {
    display: none;
    position: absolute;
    background: #F2F2F2;
    width: auto;
    top: -10px;
    left: 50px;
    z-index: 150;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.5);
    border-radius: 2px;
    cursor: default;
    float: left;
}
.com-text .text {
    padding: 5px 10px;
    font-size: 16px;
    line-height: 22px;
    min-width:140px;
    max-width: 350px;
    white-space: normal;
    max-height: 150px;
    overflow-y: auto;
    min-height: 80px;
}
.com-arr {
    background: url(../images/tooltip_left.png);
    width: 8px;
    height: 14px;
    position: absolute;
    left: -8px;
    top: 30px;
}
.hm {
    cursor: pointer;
    width: 50px;
}
.hm-off {
    opacity: 0.4;
}
.image-block img.image_item {
    cursor: url(../images/cursor-add-annotation.png),pointer;
    cursor: -webkit-image-set(url("../images/cursor-add-annotation.png") 1x, url("../images/cursor-add-annotation@2x.png") 2x),auto;
}
.limit {
    position: absolute;
    width: 230px;
    left: 0;
    font-size: 12px;
    height: 15px;
    line-height: 15px;
    margin-top: -9px;
    text-align: right;
    padding-right: 7px;
}
