/* Height stuff */
@media screen and (max-height: 900px) {
    #contest img {
        display: none;
    }

    #contest div.menu {
        display: block;
    }
}

/* 320px */
@media screen and (max-width: 640px) {
    #sidebar {
        position: relative;
        width: 100%;
        height: 160px;
        padding-top: 0;
        border-top: 1px solid #B1B1B1;
        border-bottom: 1px solid #B1B1B1;
        border-left: 0 none;
        border-right: 0 none;
        font-style: italic;
        z-index: 300;
    }

    div#createForm .email .helper div.label {
        display: none;
    }

    #logo {
        float: left;
        border-right: 1px solid #B1B1B1;
        height: 160px;
        padding: 0 0;
        width: 33.0%;
    }

    .comment .text {
        width: 75%;
    }

    img.logo {
        width: 75px;
        height: 122px;
        margin-top: 15px;
    }

    .shade {
        z-index: 200;
        top: 226px;
        left: 10px;
    }

    .shade.active {
        top: 141px;
        left: 10px;
    }

    #contest, #nav, #hall_of_fame, div.social, .age_top {
        display: none;
    }

    .social-small {
        display: block;
    }

    .age_inner {
        display: block;
    }

    div.item {
        padding: 0 5px;
        margin: 20px 0px;
    }

    div.item div.quote {
        display: block;
    }

    .commentsForm .captcha input {
        width: 75px;
    }

    .commentsFormNested {
        padding-left: 0;
    }

    .comment div.avatar {
        margin: 0;
    }

    div.item div.comments {
        display: none;
    }

    div.item div.number {
        margin-left: 0;
        padding-bottom: 10px;
    }

    #contest_mobile {
        display: inline-block;
    }

    #nav_mobile {
        display: inline-block;
        font-size: 24px;
    }

    #sidebar_inner {
        display: table;
        width: 66.0%;
    }

    #container {
        clear: left;
        min-width: 275px;
    }

    #content {
        padding: 0;
        min-width: 285px;
    }

    #create {
        width: 100%;
        height: 35px;
        margin-top: 15px;
        border-bottom: 1px solid #B1B1B1;
    }

    div#create ul li i {
        margin-top: 0;
    }

    div.menu ul li.active i {
        margin-top: 4px;
    }

    div#createForm textarea {
        height: 240px;
        width: 240px;
        font-size: 16px;
    }


    div#createForm input {
        width: 280px;
    }


    /* Font sizes */
    div#nav, div#hall_of_fame, div#contest {
        font-size: 12px;
    }

    div#create {
        font-size: 12px;
    }

    div#create ul li a {
        height: 12px;
        line-height: 12px;
    }

    div.item div.comments {
        font-size: 12px;
    }

    div.item div.quote {
        font-size: 16px;
        line-height: 21.6px;
    }

    div.item .number a {
        font-size: 12px;
    }

    div.email label, div.email input, div.buttons div.agreement, div.errors {
        font-size: 16px;
    }

    span.small {
        font-size: 10px;
    }

    .pad {
        padding-left: 0px;
    }

    .loader, .list-view-loading .load {
        width: 48px;
        height: 41px;

        background-image: url(../images/loader_small.png);

        -webkit-animation: play-small .8s steps(7) infinite;
        -moz-animation: play-small .8s steps(7) infinite;
        -ms-animation: play-small .8s steps(7) infinite;
        -o-animation: play-small .8s steps(7) infinite;
        animation: play-small .8s steps(7) infinite;
    }

}

/* 640px */
@media screen and (min-width: 641px) and (max-width: 1280px) {
    /* Layout */
    div#sidebar {
        left: 0;
        width: 160px;
    }

    .comment .text {
        width: 75%;
    }

    div.item div.comments, div.social {
        display: none;
    }

    .social-small {
        display: block;
    }

    div.item div.number {
        margin-left: 0;
    }

    div#content {
        margin-left: 150px;
    }

    div#shades, div#search {
        margin-left: 100px;
    }

    div.item {
        padding: 45px 100px;
        max-width: 650px;
    }

    div.item div.quote {
        display: block;
    }

    .item .quote, .commentsForm textarea, .comment .text {
        max-width: 540px;
    }

    .commentsForm .captcha {
        max-width: 520px;
    }

    div#create ul li i {
        margin-top: 2px;
    }

    div.menu ul li.active i {
        margin-top: 4px;
    }

    div#createForm textarea {
        height: 320px;
        width: 320px;
        font-size: 18px;
    }

    div#createForm input {
        width: 320px;
    }

    /* Font sizes */
    div#nav, div#hall_of_fame, div#contest {
        font-size: 12px;
    }

    div#create {
        font-size: 12px;
    }

    div#create ul li a {
        height: 12px;
        line-height: 12px;
    }

    div.item div.comments {
        font-size: 12px;
    }

    div.item div.quote {
        font-size: 16px;
        line-height: 21.6px;
    }

    div.item .number a {
        font-size: 12px;
    }

    div.comments_list .comment {
        font-size: 18px;
    }

    div.email label, div.email input, div.buttons div.agreement, div.errors {
        font-size: 18px;
    }

    span.small {
        font-size: 12px;
    }

    .pad {
        padding-left: 75px;
    }

    .loader, .list-view-loading .load {
        width: 48px;
        height: 41px;
        background-image: url(../images/loader_small.png);

        -webkit-animation: play-small .8s steps(7) infinite;
        -moz-animation: play-small .8s steps(7) infinite;
        -ms-animation: play-small .8s steps(7) infinite;
        -o-animation: play-small .8s steps(7) infinite;
        animation: play-small .8s steps(7) infinite;
    }
}

/* 1280px */
@media screen and (min-width: 1281px) and (max-width: 1440px) {
    /* Layout */
    div#sidebar {
        left: 0;
        width: 200px;
    }

    div#content {
        margin-left: 200px;
    }

    div#shades, div#search {
        margin-left: 150px;
    }

    div.item {
        padding: 45px 100px;
        width: 750px;
    }

    .item .quote, .commentsForm textarea, .comment .text {
        width: 640px;
    }

    .commentsForm .captcha {
        width: 620px;
    }

    .commentsFormNested textarea, .commentsFormNested .captcha {
        width: 560px;
    }

    /* Font sizes */
    div#nav, div#hall_of_fame, div#contest {
        font-size: 18px;
    }

    div#create {
        font-size: 15px;
    }

    div.item div.comments {
        font-size: 15px;
    }

    div.item div.quote {
        font-size: 20px;
        line-height: 27px;
    }

    div.item .number a {
        font-size: 15px;
    }

    div.email label, div.email input, div.buttons div.agreement, div.errors {
        font-size: 20px;
    }

    span.small {
        font-size: 16px;
    }

    .pad {
        padding-left: 65px;
    }
}

/* 1440px */
@media screen and (min-width: 1441px) and (max-width: 1679px) {
    /* Layout */
    div#sidebar {
        left: 0;
        width: 225px;
    }

    div#content {
        margin-left: 200px;
    }

    div#shades, div#search {
        margin-left: 150px;
    }

    div.item {
        padding: 45px 150px;
        width: 750px;
    }

    .item .quote, .commentsForm textarea, .comment .text {
        width: 640px;
    }

    .commentsForm .captcha {
        width: 620px;
    }

    .commentsFormNested textarea, .commentsFormNested .captcha {
        width: 560px;
    }

    /* Font sizes */
    div#nav, div#hall_of_fame, div#contest {
        font-size: 20px;
    }

    div#create {
        font-size: 17px;
    }

    div.item div.comments {
        font-size: 17px;
    }

    div.item div.quote {
        font-size: 22px;
        line-height: 29.7px;
    }

    div.item .number a {
        font-size: 17px;
    }

    div.comments_list .comment {
        font-size: 22px;
    }

    div.email label, div.email input, div.buttons div.agreement, div.errors {
        font-size: 20px;
    }

    span.small {
        font-size: 16px;
    }

    .pad {
        padding-left: 65px;
    }
}

/* >= 1680 */
@media screen and (min-width: 1680px) {
    /* Layout */
    div#sidebar {
        left: 150px;
        width: 225px;
    }

    div#content {
        margin-left: 375px;
    }

    div#shades, div#search {
        margin-left: 200px;
    }

    div.item {
        padding: 45px 200px;
        width: 850px;
    }

    .item .quote, .commentsForm textarea, .comment .text {
        width: 740px;
    }

    .commentsForm .captcha {
        width: 720px;
    }

    .commentsFormNested textarea, .commentsFormNested .captcha {
        width: 660px;
    }

    /* Font sizes */
    div#nav, div#hall_of_fame, div#contest {
        font-size: 20px;
    }

    div#create {
        font-size: 17px;
    }

    div.item div.comments {
        font-size: 17px;
    }

    div.item div.quote {
        font-size: 22px;
        line-height: 29.7px;
    }

    div.item .number a {
        font-size: 17px;
    }

    div.comments_list .comment {
        font-size: 22px;
    }

    div.email label, div.email input, div.buttons div.agreement, div.errors {
        font-size: 20px;
    }

    span.small {
        font-size: 16px;
    }

    .pad {
        padding-left: 65px;
    }
}