/* Sprites */
.sprite {
    display: inline-block;
    background: url(../images/sprites.png) no-repeat top left;
}

.sprite_age{ background-position: 0 0; width: 22px; height: 9px; }
.sprite_arrow_white_bottom{ background-position: -32px 0; width: 9px; height: 9px; }
.sprite_arrow_white_top{ background-position: -51px 0; width: 9px; height: 9px; }
.sprite_avatar_admin{ background-position: -70px 0; width: 29px; height: 30px; }
.sprite_avatar_boy{ background-position: -109px 0; width: 25px; height: 32px; }
.sprite_avatar_girl{ background-position: -144px 0; width: 25px; height: 32px; }
.sprite_checkbox{ background-position: -179px 0; width: 21px; height: 16px; }
.sprite_comments{ background-position: -210px 0; width: 19px; height: 20px; }
.sprite_comments_active{ background-position: -239px 0; width: 19px; height: 20px; }
.sprite_comments_time{ background-position: -268px 0; width: 26px; height: 27px; }
.sprite_comments_white{ background-position: -304px 0; width: 26px; height: 27px; }
.sprite_form_arrow_down{ background-position: -340px 0; width: 8px; height: 8px; }
.sprite_form_arrow_up{ background-position: -358px 0; width: 8px; height: 8px; }
.sprite_scroll_down{ background-position: -376px 0; width: 12px; height: 12px; }
.sprite_scroll_up{ background-position: -398px 0; width: 12px; height: 12px; }
.sprite_time_white{ background-position: -420px 0; width: 19px; height: 19px; }
