.icon {
    display: inline-block;
    background: url(../images/sprites.png) no-repeat top left;
}

.icon-comments_active { background-position: 0 -301px; width: 19px; height: 20px; }
.icon-like_active { background-position: 0 -515px; width: 16px; height: 16px; }

.icon-age{ background-position: 0 0; width: 22px; height: 9px; }
.icon-arrow_white_bottom{ background-position: 0 -19px; width: 9px; height: 9px; }
.icon-arrow_white_top{ background-position: 0 -38px; width: 9px; height: 9px; }
.icon-avatar_admin{ background-position: 0 -57px; width: 29px; height: 30px; }
.icon-avatar_boy{ background-position: 0 -97px; width: 25px; height: 32px; }
.icon-avatar_girl{ background-position: 0 -139px; width: 25px; height: 32px; }
.icon-checkbox{ background-position: 0 -181px; width: 14px; height: 11px; }
.icon-checkbox:hover{ background-position: 0 -202px; width: 14px; height: 11px; }
.icon-close{ background-position: 0 -223px; width: 14px; height: 14px; }
.icon-close:hover{ background-position: 0 -247px; width: 14px; height: 14px; }
.icon-comments{ background-position: 0 -271px; width: 19px; height: 20px; }
.icon-comments_time{ background-position: 0 -331px; width: 26px; height: 27px; }
.icon-comments_white{ background-position: 0 -368px; width: 26px; height: 27px; }
.icon-facebook{ background-position: 0 -405px; width: 7px; height: 14px; }
.icon-facebook:hover{ background-position: 0 -429px; width: 7px; height: 14px; }
.icon-form_arrow_down{ background-position: 0 -453px; width: 8px; height: 8px; }
.icon-form_arrow_up{ background-position: 0 -471px; width: 8px; height: 8px; }
.icon-like{ background-position: 0 -489px; width: 16px; height: 16px; }
.icon-like:hover{ background-position: 0 -515px; width: 16px; height: 16px; }
.icon-scroll_down{ background-position: 0 -541px; width: 14px; height: 14px; }
.icon-scroll_down:hover{ background-position: 0 -565px; width: 14px; height: 14px; }
.icon-scroll_up{ background-position: 0 -589px; width: 14px; height: 14px; }
.icon-scroll_up:hover{ background-position: 0 -613px; width: 14px; height: 14px; }
.icon-time_white{ background-position: 0 -637px; width: 19px; height: 19px; }
.icon-twitter{ background-position: 0 -666px; width: 11px; height: 14px; }
.icon-twitter:hover{ background-position: 0 -690px; width: 11px; height: 14px; }
.icon-vk{ background-position: 0 -714px; width: 11px; height: 14px; }
.icon-vk:hover{ background-position: 0 -738px; width: 11px; height: 14px; } 
